<%- include("partials/head-section.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <h1 class="body-heading">Write Post:</h1>
    <form action="/submit-create" method="POST" class="margins">
        <label for="post-title">Post title:</label><br>
        <input type="text" name="postTitle" placeholder="Post title goes here" id="post-title"><br>
        <label for="post-body">Body:</label><br>
        <textarea id="post-body" name="postBody" placeholder="Enter blog text here" rows="5" cols="50"></textarea><br>
        <input type="submit" value="Post" class="btn btn-primary submit-btn">
    </form>
</body>
</html>